In [1]:
import pandas as pd
df = pd.read_csv("00 03 master.csv")
# df
df.country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [2]:
# df[(df.country=='Israel') & (df.year==2014)] # df if data is df[True] then print
mask1 = df.country=='Israel'
mask2 = df.year==2014
mask3 = df.sex=='male'
mask4 = df.year==2015
f_df = df.loc[mask1 & (mask2 | mask4) & mask3, ['country','year','sex','age','suicides_no','population']]
f_df
# f_df.sum().suicides_no

      country  year   sex          age  suicides_no  population
12764  Israel  2014  male    75+ years           32      164959
12765  Israel  2014  male  35-54 years          125      925543
12766  Israel  2014  male  55-74 years           54      577076
12767  Israel  2014  male  25-34 years           41      580208
12768  Israel  2014  male  15-24 years           35      633544
12774  Israel  2014  male   5-14 years            7      753317
12776  Israel  2015  male    75+ years           30      168826
12777  Israel  2015  male  55-74 years           65      595247
12778  Israel  2015  male  35-54 years           92      944406
12779  Israel  2015  male  25-34 years           45      586251
12781  Israel  2015  male  15-24 years           35      644674
12786  Israel  2015  male   5-14 years            2      770443

In [ ]:
mask1 = df.year >= 2010
# 1998 - 2000
mask2 = df.year.between(1989, 2000)
mask3 = df.year.isin([2000, 2010]) # only 2000 and 2010 data
df.loc[mask3]

In [ ]:
f_df = df.loc[~mask3]
f_df.year.unique()

In [ ]:
#2010 - 2014
# males , females , switzerland

mask2 = df.year.between(2010, 2014)
mask3 = df.sex == 'male'
mask4 = df.country == 'Switzerland'
mask5 = df.age == '15-24 years'
fb_df = df.loc[mask2 & mask3 & mask4 & mask5, ['country','year','sex','age','suicides_no','population']]
mask301 = df.sex == 'female'
fg_df = df.loc[mask2 & mask301 & mask4 & mask5, ['country','year','sex','age','suicides_no','population']]

# fb_df
# fg_df

In [ ]:
fb_df.sum().suicides_no # boys

In [ ]:
fg_df.sum().suicides_no # girls