In [1]:
import pandas as pd
movies_data = pd.read_csv("00 01 netflix_titles.csv")
# movies_data = pd.read_csv("00 01 netflix_titles.csv", usecols = ['release_year'], squeeze = True) # squeeze makes it's data type to series and usecols uses only 'release_year' in this series(more can be added as well)

In [2]:
ser = movies_data[ 'release_year' ]

In [3]:
import numpy as np
anime =  np.array(['My Hero Academia', 'Death note', 'Sword Art Online', 'One Punch Man', 'Domestic Girl'])
genre = ['shounen','shounen', 'Action Adventure', 'action', 'shounen/shoujo']

In [4]:
anime_series = pd.Series (anime, name='anime genre')
anime_series

0    My Hero Academia
1          Death note
2    Sword Art Online
3       One Punch Man
4       Domestic Girl
Name: anime genre, dtype: object

In [5]:
anime_series2 = pd.Series(genre, index=anime, name='anime genre')
anime_series2

My Hero Academia             shounen
Death note                   shounen
Sword Art Online    Action Adventure
One Punch Man                 action
Domestic Girl         shounen/shoujo
Name: anime genre, dtype: object

In [6]:
dic = {
    "My Hero Academia"       :       "shounen",
    "Death note"             :       "shounen",
    "Sword Art Online"       :       "Action Adventure",
    "One Punch Man"          :       "action",
    "Domestic Girlfriend"    :       "sports/josei",
    "yuri on ice"            :       "kodomomuke",
    "Doraemon"               :       "shounenshoujo"   
}

In [7]:
anime_ser2 = pd.Series(dic, name='anime genre')
anime_ser2

My Hero Academia                shounen
Death note                      shounen
Sword Art Online       Action Adventure
One Punch Man                    action
Domestic Girlfriend        sports/josei
yuri on ice                  kodomomuke
Doraemon                  shounenshoujo
Name: anime genre, dtype: object

In [8]:
dic1 = {1:'one', 2:'two', 3:'three', 4:'four'}
ser1 = pd.Series(dic1, name='numbers')
ser1

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [9]:
ser1.sort_index(ascending= False, inplace=True) # inplace=True sorts the series permanently
ser1

4     four
3    three
2      two
1      one
Name: numbers, dtype: object

In [10]:
ser1.sort_values(ascending= True, inplace=True) # inplace=True sorts the series permanently
ser1

4     four
1      one
3    three
2      two
Name: numbers, dtype: object

In [11]:
ser1.tolist() # converts series to list

['four', 'one', 'three', 'two']

In [12]:
ser1.values# converts series to array

array(['four', 'one', 'three', 'two'], dtype=object)

In [13]:
guitar_dic = {'Yamaha F310' :8500, 'Faith Apollo Venus' : 30000, 'Taylor 214 CE' : 250000, 'Baton Rou':40000}
guitar_price = pd.Series(guitar_dic, name = 'Price')
guitar_price

Yamaha F310             8500
Faith Apollo Venus     30000
Taylor 214 CE         250000
Baton Rou              40000
Name: Price, dtype: int64

In [16]:
guitar_price.nsmallest(n=3) # try using different values of n here
# guitar_price.nlargest(n=2) # gives top 2 values

Yamaha F310            8500
Faith Apollo Venus    30000
Baton Rou             40000
Name: Price, dtype: int64

In [17]:
guitar_price.nsmallest().index[0:2]
# guitar_price.nlargest().index[0:2]

Index(['Yamaha F310', 'Faith Apollo Venus'], dtype='object')

In [ ]:
guitar_price.idxmin()
# guitar_price.idxmax()